version: '3.8'
volumes:
  session_logs:

services:
  ssh-proxy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ssh-proxy
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./keys/proxy:/app/keys/proxy
      - ./keys/client/pub:/app/keys/client/pub
      - session_logs:/app/logs
    ports:
      - "2022:2022"
    working_dir: /app
    command: ["--config", "config.yaml"]

  openssh-server:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: openssh-server
    hostname: openssh-server
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PUBLIC_KEY_DIR=/config/proxy/upstream_client/pub
      - USER_NAME=proxyserver
    volumes:
      - ./keys/proxy/upstream_client/pub:/config/proxy/upstream_client/pub
      - session_logs:/var/log/session_logs
      - ./config.yaml:/etc/ssh-proxy/config.yaml
    ports:
      - 2222:2222
    restart: unless-stopped
