version: '3.8'
volumes:
  session_logs:

services:
  ssh-proxy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ssh-proxy
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./keys/proxy_host_keys:/app/keys/proxy_host_keys
      - ./keys/client_keys/pub:/app/keys/client_keys/pub
      - ./keys/upstream_auth:/app/keys/upstream_auth
      - session_logs:/app/logs
      - ./logs:/app/logs
    ports:
      - "2022:2022"
    working_dir: /app
    entrypoint: >
      sh -c "./ssh-proxy --config ./config.yaml"

  openssh-server:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: openssh-server
    hostname: openssh-server
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PUBLIC_KEY_DIR=/config/upstream_auth/.ssh/client_pub
    volumes:
      - ./keys/upstream_auth/.ssh/client_pub:/config/upstream_auth/.ssh/client_pub
      - session_logs:/var/log/session_logs
      - ./config.yaml:/etc/ssh-proxy/config.yaml
    ports:
      - 2222:2222
    restart: unless-stopped
